main {
    background-color: grey;
}

body {
    margin: 0;
    line-height: 1.5;
    padding: 0 .5rem;
}

.score-sheet {
    display: flex;
    margin: 0;
    font-size: .90rem;
}

/* all frames */
.score-sheet--frame {
    display: inline-block;
    flex-grow: 1;
    border-left: 1px solid #a0a0a0;
    text-align: center;
}

/* 10th frame */
.score-sheet--frame:last-child {
    display: inline-block;
    flex-grow: 1;
    border-right: 1px solid #a0a0a0;
}

.score-sheet--frame div:nth-child(2) {
    display: flex;
    font-size: .75rem;
}

.score-sheet--frame div:nth-child(2) span {
    flex-grow: 1;
    padding: 0 2px;
    border-bottom: 1px solid #a0a0a0;
    border-right: 1px solid #a0a0a0;
}

.score-sheet--frame div:nth-child(2) span:last-child {
    border-right: 0;
}

.score-sheet--frame div:first-child {
    background-color: #4c4b4b;
    color: #fff;
    padding: 0 0;
}

.score-sheet--frame div:last-child {
    border-bottom: 1px solid #a0a0a0;
    padding: 0 0;
}

.games-list {
    margin: 10px 0;
}

.games-list section {
    margin: 10px 0;
}

.games-list section h2 {
    margin: 0;
    font-size: large;
}
